h1{
    margin-top: 100pt;
    font-family: 'Fredoka One';
    text-align: center;
    text-shadow: 2px, 2px;
    font-weight: 500;
    color: rgb(26, 35, 126);
    font-size: 50;
} 

ul{
    font-size: 30px
}